Repository maximtim/cryptorank-hyperlane, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yorhodes, @tkporter, @aroralanuk, @nbayindirli, @jmrossy, @nambrot, @daniel-savu, @Skunkchain, @avious00

proxy deployment integration
  solidity/contracts/cryptorank/Cryptorank.sol
  typescript/cli/src/deploy/cryptorank.ts
  typescript/cli/src/deploy/cryptorank/erc721/config.ts
  typescript/cli/src/deploy/cryptorank/erc721/deployer.ts
  typescript/cli/src/send/crk721send.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/router/ProxiedRouterDeployer.ts
  typescript/sdk/src/token/contracts.ts
Owners: @yorhodes, @tkporter, @aroralanuk, @nbayindirli, @jmrossy

add mainnet chains
  typescript/cli/src/deploy/cryptorank/erc721/config.ts
Owners: @jmrossy, @yorhodes, @aroralanuk, @nbayindirli

config edit
  typescript/cli/src/deploy/cryptorank.ts
  typescript/cli/src/deploy/cryptorank/erc721/config.ts
  typescript/cli/src/send/crk721send.ts
  typescript/sdk/src/consts/chainMetadata.ts
Owners: @jmrossy, @yorhodes, @aroralanuk, @nbayindirli

global config extraction
  typescript/cli/src/deploy/cryptorank.ts
  typescript/cli/src/deploy/cryptorank/erc721/config.ts
  typescript/cli/src/send/crk721send.ts
Owners: @jmrossy, @yorhodes, @aroralanuk, @nbayindirli

base uri support
  solidity/contracts/cryptorank/Cryptorank.sol
  typescript/cli/src/deploy/cryptorank.ts
  typescript/cli/src/deploy/cryptorank/erc721/config.ts
  typescript/cli/src/deploy/cryptorank/erc721/deployer.ts
Owners: @yorhodes, @tkporter, @aroralanuk, @nbayindirli, @jmrossy

transfer ownership fixes
  typescript/cli/src/deploy/cryptorank.ts
  typescript/cli/src/deploy/cryptorank/erc721/config.ts
  typescript/cli/src/deploy/cryptorank/erc721/deployer.ts
  typescript/sdk/src/consts/chainMetadata.ts
Owners: @jmrossy, @yorhodes, @aroralanuk, @nbayindirli

.
  typescript/cli/src/deploy/cryptorank/erc721/config.ts
Owners: @jmrossy, @yorhodes, @aroralanuk, @nbayindirli

fix bigint
  typescript/cli/src/deploy/cryptorank/erc721/config.ts
Owners: @jmrossy, @yorhodes, @aroralanuk, @nbayindirli

fix of gas estimate
  typescript/sdk/src/providers/MultiProvider.ts
Owners: @yorhodes, @jmrossy

added Blast and Mode
  typescript/sdk/src/consts/chainMetadata.ts
  typescript/sdk/src/consts/chains.ts
  typescript/sdk/src/consts/environments/mainnet.json
  typescript/sdk/src/providers/MultiProvider.ts
Owners: @yorhodes, @jmrossy

hFT contract
  solidity/contracts/cryptorank/CryptorankFT.sol
  solidity/contracts/cryptorank/CryptorankNFT.sol
Owners: @yorhodes, @tkporter, @aroralanuk, @nbayindirli

erc20 bridge deploy scripts and configs
  solidity/contracts/cryptorank/CryptorankFT.sol
  typescript/cli/src/commands/deploy.ts
  typescript/cli/src/deploy/cryptorank/cryptorank20.ts
  typescript/cli/src/deploy/cryptorank/cryptorank721.ts
  typescript/cli/src/deploy/cryptorank/erc20/config.ts
  typescript/cli/src/deploy/cryptorank/erc20/deployer.ts
  typescript/cli/src/deploy/cryptorank/erc721/contracts.ts
  typescript/sdk/src/token/contracts.ts
Owners: @yorhodes, @tkporter, @aroralanuk, @nbayindirli, @jmrossy

sethook script
  typescript/cli/src/send/sethook.ts
Owners: @jmrossy, @yorhodes, @aroralanuk, @nbayindirli

add bridge fee
  solidity/contracts/cryptorank/CryptorankFT.sol
  typescript/cli/src/deploy/cryptorank/cryptorank20.ts
  typescript/cli/src/deploy/cryptorank/erc20/config.ts
  typescript/cli/src/deploy/cryptorank/erc20/deployer.ts
Owners: @yorhodes, @tkporter, @aroralanuk, @nbayindirli, @jmrossy

added zetachain and redstone
  typescript/sdk/src/consts/chainMetadata.ts
  typescript/sdk/src/consts/chains.ts
  typescript/sdk/src/consts/environments/mainnet.json
Owners: @yorhodes, @jmrossy

fix
  typescript/cli/src/deploy/cryptorank/erc721/config copy.ts
  typescript/cli/src/send/crk721send.ts
  typescript/sdk/src/consts/chainMetadata.ts
Owners: @jmrossy, @yorhodes, @aroralanuk, @nbayindirli

fix polygon deploy
  typescript/sdk/src/consts/chainMetadata.ts
  typescript/sdk/src/providers/MultiProvider.ts
Owners: @yorhodes, @jmrossy

scripts fix
  typescript/cli/src/send/crk20send.ts
  typescript/cli/src/send/sethook.ts
Owners: @jmrossy, @yorhodes, @aroralanuk, @nbayindirli

fix decimals + proxy upgrade script
  solidity/contracts/cryptorank/CryptorankFT.sol
  typescript/cli/src/deploy/cryptorank/erc20/deployer.ts
  typescript/cli/src/send/upgrade.ts
Owners: @yorhodes, @tkporter, @aroralanuk, @nbayindirli, @jmrossy

delete husky shit
  .husky/pre-commit
Owners: none

fix upgrade script
  typescript/cli/src/deploy/cryptorank/erc20/deployer.ts
  typescript/cli/src/send/upgrade.ts
  typescript/sdk/src/deploy/HyperlaneDeployer.ts
Owners: @jmrossy, @yorhodes, @aroralanuk, @nbayindirli

native 1 version
  solidity/contracts/cryptorank/CryptorankFT.sol
  solidity/contracts/cryptorank/CryptorankNative.sol
  solidity/contracts/token/libs/TokenRouter.sol
Owners: @yorhodes, @tkporter, @aroralanuk, @nbayindirli

any tokens + ladder commissions
  solidity/contracts/cryptorank/CryptorankNative.sol
Owners: @yorhodes, @tkporter, @aroralanuk, @nbayindirli

small fixes
  solidity/contracts/cryptorank/CryptorankNative.sol
Owners: @yorhodes, @tkporter, @aroralanuk, @nbayindirli

native: decimals and comments
  solidity/contracts/cryptorank/CryptorankNative.sol
Owners: @yorhodes, @tkporter, @aroralanuk, @nbayindirli

FT comments
  solidity/contracts/cryptorank/CryptorankFT.sol
  solidity/contracts/cryptorank/CryptorankNative.sol
Owners: @yorhodes, @tkporter, @aroralanuk, @nbayindirli

NFT comments
  solidity/contracts/cryptorank/CryptorankNFT.sol
Owners: @yorhodes, @tkporter, @aroralanuk, @nbayindirli

Create README.md
  README.md
Owners: @Skunkchain, @nambrot, @avious00

.github/CODEOWNERS:

# File extension owners

*.sol @yorhodes @tkporter @aroralanuk @nbayindirli
*.ts @yorhodes @jmrossy @nambrot @nbayindirli
*.rs @tkporter @daniel-savu
*.md @Skunkchain @nambrot @avious00

# Package owners

## Contracts
solidity/ @yorhodes @tkporter @aroralanuk @nbayindirli

## Agents
rust/ @tkporter @daniel-savu

## SDK
typescript/sdk @yorhodes @jmrossy

## Token
typescript/token @yorhodes @jmrossy @tkporter @aroralanuk @nbayindirli

## Hello World
typescript/helloworld @yorhodes @nambrot

## CLI
typescript/cli @jmrossy @yorhodes @aroralanuk @nbayindirli

## Infra
typescript/infra @tkporter @nambrot
